numpy==1.23.5
PyYAML==6.0.3
timm==0.6.12
spikingjelly==0.0.0.0.12
torchinfo==1.8.0
scipy==1.15.3
cupy-cuda11x==12.3.0
Pillow==10.4.0
matplotlib==3.7.5
pytest==8.4.2
typing_extensions==4.16.0
requests==2.32.3
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvcc-cu11==11.7.99
nvidia-cublas-cu11==11.10.3.66
nvidia-cufft-cu11==10.7.2.91
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
tensorboard==2.15.2
